.header {
    width: 100%;
    padding: 16px;
    background-color: #09218b;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    position: fixed;
    top: 0;
    z-index: 10;
}

.header__box {
    display: flex;
    align-items: flex-end;
    text-decoration: none;

}

.header__nav {
    display: flex;
    flex-flow: row wrap;
    gap: 24px;
}

.header__box p {
    color: white;
    font-size: 16px;
    width: 25px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
}

.header__img,
.footer__img {
    width: 75px;
    display: inline-block;
}

.header__img img,
.footer__img img {
    object-fit: cover;
    width: 100%;
}

.header__social {
    text-align: center;
}

.header__social p {
    color: #9AD4DB;
    font-size: 11px;
    padding: 4px 0px;
    font-weight: bold;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.header__links {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.header__link {
    display: flex;
    color: #9AD4DB;
    text-decoration: none;
    font-size: 20px;
    transition: all 300ms ease-in-out;
}

.header__link--nav {
    justify-content: center;
    align-items: center;
    gap: 2px;
}


.header__link p {
    font-size: 1rem;
}

.header__link:hover {
    color: #FF7514;
}

.header__text {
    color: #9AD4DB;
    opacity: 0;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 0.5px;
    transition: opacity 0.3s ease;
}

.header__enf {
    color: #FF7514;
}


/* MAIN */

.main {
    width: 100%;
    text-align: center;
    min-height: 100vh;
    margin-top: 109px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* HOME */

.home__container {
    background: url('/public/img/bg-carousel.webp');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-flow: column;
    flex: 1;
}


.home__title {
    text-transform: uppercase;
}

.home__subtitle {
    padding: 8px 0px;
    font-size: 18px;
}

.home__subtitle strong {
    color: #09218b;
}

/* CAROUSEL */
.carousel {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.carousel-item {
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    width: 230px;
    border-radius: 15px;
    min-height: 440px;
    overflow: hidden;
    box-shadow: 0px 0px 7px -1px rgba(0, 0, 0, 0.5);
    background-color: #f0f0f0;
}

.pdf-title {
    color: #09218b;
    font-weight: bold;
    padding: 8px;
}

.download-wrapper {
    padding: 12px 0px;
    width: 100%;
}

.download-link {
    background-color: #FF7514;
    text-decoration: none;
    padding: 8px 24px;
    display: inline-block;
    font-weight: bolder;
    letter-spacing: 1px;
    color: #fff;
    border-radius: 20px;
    position: relative;
}

.download-icon {
    position: absolute;
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
    right: -22px;
    color: #ad0b00;
    font-size: 1.6rem;
}

.swiper {
    width: 100%;
    height: 600px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-img {
    width: 100%;
    height: 320px;
    overflow: hidden;
}

.carousel-img img {
    width: 100%;
    object-fit: cover;
}

/* FOOTER */

.footer {
    width: 100%;
    padding: 24px 8px;
    background-color: #09218b;
    text-align: center;

}

.footer p {
    padding: 4px;
    font-weight: 500;
    color: #fff;
    font-size: 15px;
}


/* EFFECTS AND ANIMATIONS */

/* LOADING */

.loading__container {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    width: 10px;
    height: 10px;
    border-radius: 11.2px;
    box-shadow: 28px 0px 0 0 rgba(71, 75, 255, 0.2), 22.7px 16.5px 0 0 rgba(71, 75, 255, 0.4), 8.68px 26.6px 0 0 rgba(71, 75, 255, 0.6), -8.68px 26.6px 0 0 rgba(71, 75, 255, 0.8), -22.7px 16.5px 0 0 #474bff;
    animation: spinner-b87k6z 1s infinite linear;
}

@keyframes spinner-b87k6z {
    to {
        transform: rotate(360deg);
    }
}

/* HOVER */

.hover-underline-animation {
    position: relative;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: #FF7514;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
}

.hover-underline-animation.center::after {
    transform-origin: bottom center;
}

.hover-underline-animation.center:hover::after {
    transform-origin: bottom center;
}

/* RESPONSIVE */
@media screen and (max-width:900px) {
    .main {
        margin-top: 170px;
    }

    .home__container{
        padding-top: 20px;
    }

    .home__title{
        font-size: 1.4rem;
    }

    .header {
        display: grid;
        grid-template-areas:
            "social"
            "logo" 
            "nav";
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        gap: 1rem;

    }

    .header__social {
        grid-area: social;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header__box {
        grid-area: logo;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header__nav {
        grid-area: nav;
        justify-content: center;
    }

    .header__social p {
        display: none;
    }

    .header__link{
        font-size: 1rem;
    }
}